table, th, td {
    border: 1px solid black;
   
  }
  
  
  h1{
  
      text-align: center;
  }
  
  
  table{
      width:100%
  }
  
  td{
      text-align: center;
  }
  
  
  tr{
  color: black;
  }
  
  img{
  
      height: 200;
      width: 150;
  }
  .titles{
  
  color: red;
  
  }
  
  
  .covers{
  
       display:block;
  }
  